body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
}





/*navbar*/
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    background-color: #000;
    border-bottom: 2px solid #7c7c7c;
    box-shadow: 0px 4px 100px rgba(198, 198, 198, 0.1);
}

nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px 0 20px;
    height: 85px;
    max-width: 1100px;
}


#prof-pic-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 250px;
    margin-top: 20px;
    cursor: pointer;
}

#prof-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#name-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

#big-name {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
}

#small-name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

#nav-link-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
}

.nav-link {
    display: flex;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0 22px;
    color: #fff;
}

.nav-link:after {
    position: absolute;
    bottom: -1px;
    right: 0;
    height: 3px;
    z-index: -1;
    width: 0;
    background: linear-gradient(90deg, #3a7df2, #efadff);
    transition: left 256ms ease-in-out, width 256ms ease-in-out;
    content: "";
    will-change: left, width;
}

.nav-link:hover:after {
    left: 0;
    width: 100%;
}

.nav-link:hover {
    translate: 0 -2px;
}





/*main*/
main {
    margin: 85px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}


/*intro-section*/
#intro-section {
    margin: 7% 0;
    padding: 5%;
    display: flex;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    max-height: 620px;
    background: linear-gradient(164.64deg, rgba(227, 227, 227, 0) 8.66%, rgba(137, 137, 137, 0.12) 38.52%, rgba(88, 88, 88, 0.17) 69%);
    border: 1px solid #474747;
    border-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

#intro-img {
    height: 420px;
}

#intro-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #fff;
}

/* .section-heading {
}

.section-description {
    color: #fff;
} */





/*projects-section*/
#projects-section{
    color: #fff;
}




/*footer*/
footer{
    margin: 85px 0 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
}